*{

}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.parent{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.child1{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}
.child2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}
.parent2{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.child3{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    background-color: maroon;
}
.child4{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    background-color: lime;
}
.qwe1{
    height:50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;

}
.qwe2{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;

}
.parent3{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.child5{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}
.child6{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.child7{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.qwe3{
    height: 50%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}
.parent4{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.child8{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}
.child9{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:orange;
}
.child10{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: paleturquoise;
}
.child11{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
}
.qwe4{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}
.qwe5{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:brown;
}